$color-darkblue: #010666 !global;
$color-blue: #1f34ac;
$color-lightblue: #3d53c5;
$color-verylightblue: #4e8ef0;
$color-gray: rgba(78, 142, 240, 0.1);
$color-placeholder: #babde8;
$color-darkgray: rgba(31, 52, 172, 0.2);
$box-shadow: rgba(31, 52, 172, 0.18);
