@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

$font-family: 'Roboto', sans-serif;

@mixin font-regular{
    font-family: $font-family;
    font-weight: 400;
}

@mixin font-light{
    font-family: $font-family;
    font-weight: 300;
}

@mixin font-medium{
    font-family: $font-family;
    font-weight: 500;
}